*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --maincolor:rgb(7, 129, 37);
   --glass-bg: rgba(255,255,255,0.06);
    --glass-border: rgba(255,255,255,0.12);
    --accent2:#e55c1d;
   /* --text:#e9eef8;*/
    --card-radius:16px;
}
a{
    text-decoration: none;
}
nav a,.header button{
    transition: all 1s ease-in-out!important;
}
nav a:hover,.header button:hover {
  transform: scale(1.2);
}
body {
    transition: background-color 1s ease, color 0.5s ease;
  }

p::selection {
    background-color: green;
    color: #fff;
}
@keyframes slideshow {
  from{
    transform:translateX(-100%);

  }
  to{
    transform:translatex(0);
  }
}
.nav_pro{
    z-index: 99;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
}